@import "../base/variables.scss";
@import "../base/helpers.scss";

.viewport {
  min-height: 100vh;
  background-color: $color--dark-blue;
}

.contact {
  background: linear-gradient(56.55deg, #5b7187 0%, #7e99b4 100%);
  padding: space(16) 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: space(2);
  border-radius: $border-radius--small;
}

.header {
  padding-bottom: space(4);
  font-family: $font-family--secondary;
  font-size: space(4);
  font-weight: bold;
  color: $color--white;
}

.nameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 space(2);
}

.label {
  display: block;
  margin-bottom: space(1);
  font-family: $font-family--primary;
  font-weight: bold;
  color: $color--white;
}

.input,
.textarea {
  width: 100%;
  border-radius: $border-radius--small;
  margin-bottom: space(2);
  padding: space(2);
  background-color: $color--white;
  color: $color--dark-blue;
  font-size: space(2);
  font-family: $font-family--primary;
}

.textarea {
  height: space(22);
}

.button {
  display: block;
  align-items: center;
  background-color: $color--dark-blue;
  padding: space(1.5) space(4);
  border-radius: $border-radius--small;
  font-family: $font-family--secondary;
  font-size: space(2);
  color: $color--white;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.08);
  }
}
