@import "../base/variables.scss";
@import "../base/helpers.scss";
@import "./learnMore.module.scss";

.lawsuit {
  background-color: $color--white;
  color: $color--black;
}

.main h4 {
  padding-bottom: space(0.5);
}

.icon {
  padding-right: space(2);
  margin-top: space(4);
}

.subheader {
  display: inline;
  margin-bottom: space(1);
  margin-top: space(4);

  & + p {
    margin-top: space(1);
  }
}

.list {
  padding-bottom: space(2);
  margin-left: space(4);
}

.unorderedList > li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: space(4);
}

.item {
  padding-bottom: space(2);
}

.resources {
  &__item {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: space(4);
  }
}

.sampleLetter {
  margin-left: space(4);
}
