@import "../base/variables.scss";
@import "../base/helpers.scss";

.Footer {
  background-color: $color--dark-blue;
  color: $color--white;
  padding: space(16) 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  display: block;
  font-family: $font-family--primary;
  font-weight: bold;
  margin-bottom: space(2);
  color: $color--white;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(50px);
  width: rem(50px);
  background-color: $color--blue;
  border-radius: 100px;
  cursor: pointer;
}

.linkSection {
  justify-self: center;
}

.list > li {
  font-family: $font-family--primary;
  font-size: rem(16px);
  list-style-type: disc;
  margin-left: space(2);
  cursor: pointer;
}
