@import "../base/variables.scss";
@import "../base/helpers.scss";

.Header {
  position: relative;
  z-index: 100;
  padding: space(2) 0;
  color: $color--white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 2px solid white;
}

.nav {
  display: flex;
  align-items: center;

  &__contact {
    margin-right: space(3);
    padding: space(1);
    font-family: $font-family--primary;
    font-weight: bold;
    color: $color--white;
    text-decoration: none;
  }

  &__donate {
    padding: space(1) space(4);
    font-family: $font-family--primary;
    font-weight: bold;
    background-color: $color--dark-gray;
    border-radius: $border-radius--small;
    background: linear-gradient(
      85.06deg,
      darken(#cba135, 4%) 0%,
      lighten(#cba135, 1%) 100%
    );
    color: $color--white;
    text-decoration: none;
  }
}
