@import "../base/variables.scss";
@import "../base/helpers.scss";

.Header {
  // position: relative;
  // z-index: 100;
  padding: space(2) 0;
  color: $color--white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 2px solid white;
}

.nav {
  display: flex;
  align-items: center;

  @media (max-width: 645px) {
    display: none;
  }

  &__contact {
    margin-right: space(3);
    padding: space(1);
    font-family: $font-family--primary;
    font-weight: bold;
    color: $color--white;
    text-decoration: none;
  }

  &__donate {
    padding: space(1) space(4);
    font-family: $font-family--primary;
    font-weight: bold;
    background-color: $color--dark-gray;
    border-radius: $border-radius--small;
    background: linear-gradient(
      85.06deg,
      darken(#cba135, 4%) 0%,
      lighten(#cba135, 1%) 100%
    );
    color: $color--white;
    text-decoration: none;
  }
}

.hamburger {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  overflow: hidden;

  @media (min-width: 646px) {
    display: none;
  }
}

.line {
  &__top,
  &__middle,
  &__bottom {
    height: 2px;
    background-color: white;
  }

  &__middle {
    width: 75%;
    align-self: flex-end;
  }
}
