@import "../base/variables.scss";
@import "../base/helpers.scss";

.Hero {
  height: 85vh;
  margin-top: -90px;
  color: $color--white;
  background: linear-gradient(rgba(25, 41, 82, 0.65), rgba(25, 41, 82, 0.65)),
    url("../../public/images/background-part.png") left 50% / cover no-repeat,
    url("../../public/images/background-full.jpg") left top / cover no-repeat;
}

.header {
  padding: space(25) 0 space(4) 0;
  font-size: rem(65px);
}

.content {
  width: space(50);
  font-family: $font-family--primary;
  font-weight: bold;
}

.backgroundFull {
  position: absolute;
  bottom: 0;
  object-fit: cover;
  width: 100vw;
}
