@import "../base/variables.scss";
@import "../base/helpers.scss";

.IconCard {
  padding: space(4);
  text-align: center;
  border-radius: $border-radius--small;
  background: linear-gradient(56.55deg, #5b7187 0%, #7e99b4 100%);
  box-shadow: 0px 12px 20px -2px rgba(0, 0, 0, 0.25);
}

.icon {
  height: 43px;
  width: 43px;
  margin-bottom: space(2);
}

.content {
  font-family: $font-family--primary;
  font-weight: bold;
  color: $color--white;
}
