@import "../base/variables.scss";
@import "../base/helpers.scss";

.IconSection {
  background-color: $color--white;
  padding: space(8);
  margin-top: space(-10);
  border-radius: $border-radius--small;
  color: $color--black;
}

.content {
  max-width: space(80);
  padding: space(2) 0 space(4) 0;
  font-family: $font-family--primary;
  font-weight: bold;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: space(8);
  padding-top: space(2);
}
