@import "../base/variables.scss";
@import "../base/helpers.scss";

.InfoSection {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: minmax(rem(360px, 600px));
  gap: space(8);
  padding: space(16) 0;
  color: $color--black;
}

.subheader {
  font-family: $font-family--primary;
  font-weight: bold;
  margin-bottom: space(1);
}

.header {
  margin-bottom: space(2);
}

.content {
  font-family: $font-family--primary;
  font-weight: bold;
  margin-bottom: space(4);
}

.link {
  font-family: $font-family--primary;
  font-weight: bold;
  padding: space(1.5) space(3);
  border-radius: $border-radius--small;
  background: linear-gradient(56.55deg, #5b7187 0%, #7e99b4 100%);
  box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.25);
  font-size: space(2);
  color: $color--white;
  text-decoration: none;
  cursor: pointer;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $border-radius--small;
}
