@import "../base/variables.scss";
@import "../base/helpers.scss";

.MobileNav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 85%;
  background-color: $color--dark-blue;
}

.item {
  display: block;
  padding: space(4);
  font-family: $font-family--primary;
  color: $color--white;
  text-decoration: none;
  font-size: space(2);
}
