@import "../base/variables.scss";
@import "../base/helpers.scss";

.TakeAction {
  padding: space(16) 0;
  background: linear-gradient(56.55deg, #5b7187 0%, #7e99b4 100%);
  color: $color--white;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: space(8);

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: space(6);
  }
}

.flowerImg {
  position: absolute;
  bottom: space(-16);
  left: 0;
  height: 55%;
  z-index: 4;

  @media (max-width: 800px) {
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
  }
}

.header {
  margin-bottom: space(4);

  @media (max-width: 800px) {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.btnContainer {
  position: relative;
  z-index: 100;
  display: flex;

  &__desktop {
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__mobile {
    margin-left: 50px;

    @media (min-width: 801px) {
      display: none;
    }
  }
}

.lrnBtn,
.donateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family--primary;
  font-weight: bold;
  height: 43px;
  width: 141px;
  border-radius: $border-radius--small;
}

.lrnBtn {
  border: 4px solid $color--white;
  margin-right: space(1);
  background-color: $color--white;
  color: $color--blue;
  text-decoration: none;
}

.donateBtn {
  margin-left: space(1);
  background: linear-gradient(
    85.06deg,
    lighten(#5e0b15, 6%) 0%,
    lighten(#5e0b15, 10%) 100%
  );
  color: $color--white;
  text-decoration: none;
}

.right {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: space(4);
}

.content {
  &__header {
    margin-bottom: space(0.5);
  }
}

.left,
.right {
  position: relative;
  z-index: 100;
}
