/*-------------------------------*/
/* CALCULATE REM VALUES */
/*-------------------------------*/
@function rem($target, $context: 18px) {
  @return ($target / $context) * 1rem;
}

@function space($num) {
  $mult: $num * 9px;
  @return rem($mult);
}

/*-------------------------------*/
/* TYPOGRAPHY */
/*-------------------------------*/

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

/*-------------------------------*/
/* CENTER CONTENT */
/*-------------------------------*/

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
